@page "/editcontext-custom-css"

<PageTitle>Blazor Form Validation</PageTitle>

<p>Custom CSS can be provided by inheriting from the FieldCssClassProvider and assigning the implementation to the EditContext using its SetFieldCssClassProvider method.</p>

<UserFormEditContextCustomCSS />