@page "/individual-messages"

<PageTitle>Blazor Form Validation</PageTitle>

<p>Showing validation errors per-field requires more code but gives you more control over the location of the message.</p>

<UserFormIndividualMessages />

