@page "/simple-editcontext"

<PageTitle>Blazor Form Validation</PageTitle>

<p>Manually creating and providing the EditContext provides you with more granular controler but requires more code.</p>

<UserFormEditContextSimple />